% import model

<form action="/dodaj_caj/" method="post">

    <div class="field">
        <label class="label">Ime</label>
        <div class="control">
            <input class="input" type="text" name="ime" pattern="[^'\x22]+" placeholder="Zelena limona" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Vrsta</label>
        <div class="control">
            <input class="input" type="text" name="vrsta" list="vrsta" pattern="[^'\x22]+" placeholder="zeleni" required />
                <datalist id="vrsta">
                    <option>zeleni</option>
                    <option>črni</option>
                    <option>beli</option>
                    <option>oolong</option>
                    <option>rooibos</option>
                    <option>mate</option>
                    <option>zeliščni</option>
                    <option>sadni</option>
                </datalist>
        </div>
    </div>

    <div class="field">
        <label class="label">Priprava</label>
        <div class="control">
            <input class="input" type="number" min="0" max="100" name="temperatura" placeholder="70">
        <p class="help is-dark">Temperatura vode</p>
        <div class="control">
            <input class="input" type="time" name="cas" placeholder="02:00">
        </div>
        <p class="help is-dark">Čas namakanja</p>
        </div>
    </div>

    <div class="field">
        <label class="label">Rok uporabe</label>
        <div class="control">
            <input class="input" type="text" name="rok uporabe" pattern="[0-9]{4}-(0[1-9]|1[012])" Placeholder="2021-02">
        </div>
        <p class="help is-dark">Vnešeni rok uporabe naj bo oblike LLLL-MM</p>
    </div>

    <div class="field">
        <label class="label">Opombe</label>
        <div class="control">
            <textarea class="textarea" name="opombe" pattern="[^'\x22]+"></textarea>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="checkbox">
                Dodaj v <a href="/nakupovalni_seznam/" class="has-text-success">nakupovalni seznam</a>?
                <input type="checkbox" name="nakupovalni" value="True">
            </label>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link is-success" type="submit">Dodaj</button>
        </div>
        <div class="control">
            <button class="button is-link is-inverted is-success" type="reset">Ponastavi</button>
        </div>
    </div>

</form>