% import model

% rebase("base.html")

<p>Dodajanje novega čaja v organizator: (polji z imenom in vrsto sta obvezni, znaka ' in " nista dovoljena)</p>

  <form action="/dodaj_caj/" method="post">
    <table>
      <tr>
        <td><b>Ime:</b></td>
        <td><input type="text" name="ime" pattern="[^'\x22]+" required></td>
      </tr>
      <tr>
        <td><b>Vrsta</b></td>
        <td><input type="text" name="vrsta" list="vrsta" pattern="[^'\x22]+" required />
            <datalist id="vrsta">
              <option>zeleni čaj</option>
              <option>črni čaj</option>
              <option>beli čaj</option>
              <option>oolong čaj</option>
              <option>rooibos čaj</option>
              <option>mate</option>
              <option>zeliščni čaj</option>
              <option>sadni čaj</option>
            </datalist>
        </td>
      </tr>
      <tr>
        <td><b>Temperatura:</b></td>
        <td><input type="number" min="0" max="100" name="temperatura"></td>
      </tr>
      <tr>
        <td><b>Čas:</b></td>
        <td><input type="time" name="cas"></td>
      </tr>
      <tr>
        <td><b>Rok uporabe:</b></td>
        <td><input type="text" name="rok uporabe" pattern="[0-9]{4}-(0[1-9]|1[012])" title="Vnešeni rok uporabe, ki naj bo oblike LLLL-MM"></td>
      </tr>
      <tr>
        <td><b>Opombe</b></td>
        <td><input type="text" name="opombe" pattern="[^'\x22]+"></td>
      </tr>
    </table>
    <input type="submit" value="Dodaj">
    <input type="reset" value="Ponastavi">
  </form>