% import model

% rebase("base.html")

<h1>Nakupovalni seznam</h1>

<table border="1px solid black" style="border-collapse: collapse">
<thead>
    <tr>
        <th style="width: 100pt">IME</th>
        <th style="width: 100pt">VRSTA</th>
        <th style="width: 100pt">OPOMBE</th>
    </tr>
</thead>
<tbody>
% for indeks in podatki:
    % if podatki[indeks]['nakupovalni']:
    <tr>
        <td>{{ podatki[indeks]['ime'] }}</td>
        <td>{{ podatki[indeks]['vrsta'] }}</td>
        <td>{{ podatki[indeks]['opombe'] }}</td>
        <td>
            <form action="/odstrani_caj{{ indeks }}/" method="post">
                <button type="submit">Odstrani</button>
            </form>
        </td>
        <td>
            <form action="/uredi_caj{{ indeks }}/" method="get">
                <button type="submit">Uredi</button>
            </form>
        </td>
    </tr>
    % end
% end
</tbody>
</table>

<form action="/dodaj_caj/" method="get">
      <button type="submit">Dodaj</button>
</form>
<form action="/odjava/" method="post">
    <button type="submit">Odjavi se</button>
</form>
<form action="/razvrsti_po_imenu_nakupovalni/" method="get">
    <button type="submit">Razvrsti po imenu</button>
</form>
<form action="/razvrsti_po_vrsti_nakupovalni/" method="get">
    <button type="submit">Razvrsti po vrsti</button>
</form>
<form action="/organizator/" method="get">
    <button type="submit">Nazaj</button>
</form>