% import model

% rebase("base.html")

<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <div class="container">
            <p class="title is-4 mb-1">Prijava in registracija</p>
            <p>V program se prijavite z vnosom svojega uporabniškega imena in gesla v obrazec na začetni strani, vnos pa potrdite z gumbom Vpiši se. Če uporabniškega računa še nimate, se registrirajte s klikom na gumb Registriraj se</p>
            <p>Pri vnosu podatkov bodite pozorni na znaka ' in ", saj sta onemogočena, program vas ne spusti dalje, če ju kjerkoli uporabite.</p>
            <p>Za ogled vzorčnega primera vnesite uporabniško ime <i>uporabnik</i> in geslo <i>uporabnik</i>.</p>
            <p class="title is-4 mb-1 mt-4">Zaloga in nakupovalni seznam</p>
            <p>Po prijavi se vam odpre zavihek kjer imate pregled nad vsemi čaji, ki jih imate na zalogi. V tabeli so zapisani podatki o njihovem imenu, vrsti, temperaturi vode in času namakanja, ki vam pomagata pri pripravi, rok uporabe ter morebitne opombe. Za dodajanje novih čajev izpolnite obrazev na levi.</p>
            <p>Za ogled nakupovalnega seznama kliknite zgornji zavihek.</p>
            <p class="title is-6 mb-1 mt-4">Dodajanje čaja</p>
            <p>Za dodajanje novega čaja v zalogo izpolnite obrazec, ki se nahaja na levi strani.</p>
            <p>Nekaj napotkov:</p>
            <div class="content mb-1">
            <ul class="mt-1">
                <li>polji z imenom in vrsto sta obvezni</li>
                <li>v polje za temperaturo vnesite samo število, v polje za čas pa čas oblike MM:SS</li>
                <li>polje za rok uporabe ima predpisano obliko LLLL-MM</li>
                <li>če želite čaj dodati na nakupovalni seznam v obrazcu obkljukajte za to namenjen kvadratek</li>
                <li>pri vnosu bodite pozorni na znaka ' in ", saj sta onemogočena</li>
            </ul>
            </div>
            <p>Vnos potrdite s klikom na gumb Dodaj, s klikom na gumb Ponastavi izbrišete vnešene podatke v obrazcu.</p>
            <p class="title is-6 mb-1 mt-4">Razvrščanje</p>
            <p>Za razvrščanje po abecednem vrstem redu kliknite gumb <i class="fas fa-sort-alpha-down has-text-success"></i> poleg imena za razvrščanje glede na ime oz. poleg vrste za razvrščanje glede na vrsto.</p>
            <p class="title is-6 mb-1 mt-4">Urejanje in brisanje čaja</p>
            <p>V tabeli z zalogo lahko s klikom na gumb <i class="fas fa-trash-alt has-text-success"></i> čaj izbrišete, s klikom na <i class="fas fa-edit has-text-success"></i> pa ga lahko uredite. Za več informacij glede izpolnjevanje obrazca preberite razdelek o dodajanju čaja. Vnos potrdite s klikom na gumb Shrani spremembe.</p>
            <p class="title is-4 mt-4 mb-1">Iskanje</p>
            <p class="mb-4">Za iskanje po zalogi čaja vnesite ključno besedo v polje desno zgoraj in kliknite Išči, rezultati se vam izpišejo v obliki tabele.</p>
            <form action="/">
                <div class="field">
                    <button class="button is-link is-success">Nazaj</button>
                </div>
            </form>
        </div>
    </div>
</div>    
        